.cardContainer {
   width: 353px;
   height: 240px;
}

.cardBody {
  height: 100px;
  padding-top: 8px;
}

.card-title {
    height: 25px;
  }

  .card-img-top {
    height: 157px;
    object-fit: cover;
  }


