.page-item a {
    color: #B54942 !important;
}

.page-item active {
    color: #B54942 !important;
}

/* .pagination > li > a
{
    background-color: rgb(190, 118, 118);
    color: #d41a1a;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
} */