.container {
    display: flex;
    flex-wrap: nowrap;
    height: 100px;
}

.starContainer {
    display: inline-block;
}

.starContainer img {
    width: 16px;
    filter: invert(93%) sepia(73%) saturate(3358%) hue-rotate(325deg) brightness(100%) contrast(101%);
}

.starDisabled {
    display: none;
}

.starEnabled {
    display: block;
}
