.container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    height: 30px;
}
.rating {
    font-size: 0.8rem;
    padding-right: 5px;
    margin-bottom: 0;
    text-align: right;
}

.notRated {
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: right;
}

.starContainer {
    display: inline-block;
}

.starContainer img {
    width: 16px;
    filter: invert(93%) sepia(73%) saturate(3358%) hue-rotate(325deg) brightness(100%) contrast(101%);
}

.starDisabled {
    display: none;
}

.starEnabled {
    display: block;
}
