.container {
    /* display: flex; */
    max-width: 1280px;
    min-height: 630px;
    border: 1px solid green;
}

/* .image {
    max-width: 800px;
    max-height: 530px;
    margin-right: 50px;
    float: left;
} */