
/* .btn-outline-secondary {
    border-color: #B54942 !important;
    color:#B54942 !important;
}

.btn-outline-secondary:hover {
    background-color: #B54942 !important;
    color: #FFF !important;
}

.btn-outline-secondary:active {
    background-color: #812a25 !important;
} */