.btn-secondary {
    background-color: #B54942 !important;
    border-color: #B54942 !important;
  }
  .btn-secondary:hover,
  .btn-secondary:focus {
    background-color: #a2413b !important;
    border-color: #903a34 !important;
  }
  .btn-secondary.disabled:hover,
  .btn-secondary.disabled:focus,
  .btn-secondary.disabled:active,
  .btn-secondary.disabled.active,
  .btn-secondary[disabled]:hover,
  .btn-secondary[disabled]:focus,
  .btn-secondary[disabled]:active,
  .btn-secondary[disabled].active,
  fieldset[disabled] .btn-secondary:hover,
  fieldset[disabled] .btn-secondary:focus,
  fieldset[disabled] .btn-secondary:active,
  fieldset[disabled] .btn-secondary.active {
    background-color: #B54942 !important;
    border-color: #B54942 !important;
  }

  .btn-secondary:active,
  .btn-secondary.active {
    background-color: #812a25 !important;
    border-color: #a33c37 !important;
    border-width: 2px;
  }
  a {
    color: #212529;
    text-decoration: none;
  }