.container {
    display: flex;
    flex-wrap: nowrap;
    height: 100px;
    width: 300px;
    border: 1px solid red;
}

.image {
    height: 80px;
    padding: 10px;
}

.title {
    margin-left: 20px;
}